version: '3.9'
services:
  nextjs:
    build:
      context: ./nextjs
      dockerfile: Dockerfile.dev
    container_name: nextjs
    volumes:
      - ./nextjs:/app
      - nextjs_node_modules:/app/node_modules
    environment:
      - WATCHPACK_POLLING=true
      # コンテナ内部のdnsではバックエンド側のドメインを名前解決できないため
    dns:
      - host
    ports:
      - 3000:3000
    depends_on:
      - mysql
    entrypoint: >
      bash -c "
      npx prisma migrate dev --name init &&
      yarn run dev
      "
    restart: on-failure
  mysql:
    build:
      context: ./mysql
      dockerfile: Dockerfile.dev
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: test
      TZ: 'Asia/Tokyo'
    volumes:
      - mysql-db-store:/var/lib/mysql

  mail:
    build:
      context: ./mail
      dockerfile: Dockerfile.dev
    container_name: mail
    ports:
      - '8025:8025'
    environment:
      MH_STORAGE: maildir
      MH_MAILDIR_PATH: /tmp
    volumes:
      - maildir:/tmp
volumes:
  nextjs_node_modules:
  mysql-db-store:
  maildir:
